<!--
  Generated template for the ComicDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ comic.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="row responsive-md">
    <div class="col col-25" *ngFor="let image in comic.images">
      <img src="{{ image.path }}.{{ image.extension }}">
    </div>
  </div>

  <h1>Descripción: </h1>
  <p>{{ comic.description }}</p>
  
  <h1>Creadores: </h1>
  <p *ngFor="let creator of comic.creators.items">
    {{ creator.name }}
  </p>

  <h1>Personajes: </h1>
  <p *ngFor="let character of comic.characters.items">
    {{ character.name }}
  </p>

  <h1>Historias: </h1>
  <p *ngFor="let story of comic.stories.items">
    {{ story.name }}
  </p>

  <h1>Formato del comic: </h1>
  <p>{{ comic.format }}</p>

</ion-content>
